In [1]:
import pandas as pd

from tqdm import tqdm
tqdm.pandas()

import gensim.downloader
import numpy as np

from pathlib import Path

import glob
import re

# Создание конечного датафрейма

In [2]:
# columns_data_path = "./collecting/columns_data.csv"
# if not Path(columns_data_path).exists():
#     raise Exception("columns_data.csv doesnt exist. Run `make; ./collect_columns_data` from this dir.")

# df_data = pd.read_csv(f"columns_data.csv", sep="⇧", engine="python", quotechar='"', on_bad_lines="warn")

In [3]:
import pandas as pd
import glob

df_list = []

number_of_chunks = len(glob.glob("../collecting/columns_data/data*.csv"))
for i in range(number_of_chunks):
    df_list.append(
        pd.read_csv(f"../collecting/columns_data/data_{i}.csv", sep="⇧", engine="python", quotechar='"', on_bad_lines="warn")
    )

df_data = pd.concat(df_list, axis=0)

Skipping line 669: '⇧' expected after '"'
Skipping line 3367: '⇧' expected after '"'
Skipping line 4578: '⇧' expected after '"'
Skipping line 6906: '⇧' expected after '"'
Skipping line 6907: '⇧' expected after '"'
Skipping line 10001: '⇧' expected after '"'
Skipping line 10696: '⇧' expected after '"'
Skipping line 11865: '⇧' expected after '"'
Skipping line 12034: '⇧' expected after '"'
Skipping line 15181: '⇧' expected after '"'
Skipping line 16006: '⇧' expected after '"'
Skipping line 16834: '⇧' expected after '"'
Skipping line 17469: '⇧' expected after '"'
Skipping line 17769: '⇧' expected after '"'
Skipping line 18899: '⇧' expected after '"'
Skipping line 20430: '⇧' expected after '"'
Skipping line 27577: '⇧' expected after '"'
Skipping line 27801: '⇧' expected after '"'
Skipping line 27821: '⇧' expected after '"'
Skipping line 28179: '⇧' expected after '"'
Skipping line 28647: '⇧' expected after '"'
Skipping line 30059: '⇧' expected after '"'
Skipping line 30720: '⇧' expected after '"'
Skipping line 31137: '⇧' expected after '"'
Skipping line 31138: '⇧' expected after '"'
Skipping line 32076: '⇧' expected after '"'
Skipping line 33378: '⇧' expected after '"'
Skipping line 36356: '⇧' expected after '"'
Skipping line 38160: '⇧' expected after '"'
Skipping line 38794: '⇧' expected after '"'
Skipping line 39918: '⇧' expected after '"'
Skipping line 41181: '⇧' expected after '"'
Skipping line 41409: '⇧' expected after '"'
Skipping line 41945: '⇧' expected after '"'
Skipping line 47101: '⇧' expected after '"'
Skipping line 47102: '⇧' expected after '"'
Skipping line 47706: '⇧' expected after '"'
Skipping line 51394: '⇧' expected after '"'
Skipping line 52262: '⇧' expected after '"'
Skipping line 54788: '⇧' expected after '"'
Skipping line 54935: '⇧' expected after '"'
Skipping line 57963: '⇧' expected after '"'
Skipping line 59420: field larger than field limit (131072)
Skipping line 60345: field larger than field limit (131072)
Skipping line 61459: '⇧' expected after '"'
Skipping line 62447: '⇧' expected after '"'
Skipping line 65504: '⇧' expected after '"'
Skipping line 66757: '⇧' expected after '"'
Skipping line 67873: '⇧' expected after '"'
Skipping line 68284: '⇧' expected after '"'
Skipping line 68309: '⇧' expected after '"'
Skipping line 68474: '⇧' expected after '"'
Skipping line 69353: '⇧' expected after '"'
Skipping line 69852: '⇧' expected after '"'
Skipping line 70131: '⇧' expected after '"'
Skipping line 70366: '⇧' expected after '"'
Skipping line 70818: '⇧' expected after '"'
Skipping line 72607: '⇧' expected after '"'
Skipping line 73229: '⇧' expected after '"'
Skipping line 73884: '⇧' expected after '"'
Skipping line 73929: '⇧' expected after '"'
Skipping line 73942: '⇧' expected after '"'
Skipping line 76213: '⇧' expected after '"'
Skipping line 76480: '⇧' expected after '"'
Skipping line 77104: '⇧' expected after '"'
Skipping line 78516: '⇧' expected after '"'
Skipping line 80406: '⇧' expected after '"'
Skipping line 80434: '⇧' expected after '"'
Skipping line 81381: '⇧' expected after '"'
Skipping line 81401: '⇧' expected after '"'
Skipping line 84897: '⇧' expected after '"'
Skipping line 85351: '⇧' expected after '"'
Skipping line 85460: '⇧' expected after '"'
Skipping line 85754: '⇧' expected after '"'
Skipping line 86831: '⇧' expected after '"'
Skipping line 86839: '⇧' expected after '"'
Skipping line 87376: '⇧' expected after '"'
Skipping line 90890: '⇧' expected after '"'
Skipping line 91544: '⇧' expected after '"'
Skipping line 92063: '⇧' expected after '"'
Skipping line 95110: '⇧' expected after '"'
Skipping line 96348: '⇧' expected after '"'
Skipping line 97510: '⇧' expected after '"'
Skipping line 98010: '⇧' expected after '"'
Skipping line 98815: '⇧' expected after '"'
Skipping line 100502: '⇧' expected after '"'
Skipping line 101849: '⇧' expected after '"'
Skipping line 102648: '⇧' expected after '"'
Skipping line 103993: '⇧' expected after '"'
Skipping line 105119: '⇧' expected after '"'
Skipping line 106634: '⇧' expected after '"'
Skipping line 108359: '⇧' expected after '"'
Skipping line 109442: '⇧' expected after '"'
Skipping line 112515: '⇧' expected after '"'
Skipping line 113529: '⇧' expected after '"'
Skipping line 114149: '⇧' expected after '"'
Skipping line 114398: '⇧' expected after '"'
Skipping line 114882: '⇧' expected after '"'
Skipping line 115753: '⇧' expected after '"'
Skipping line 115859: '⇧' expected after '"'
Skipping line 116722: '⇧' expected after '"'
Skipping line 117142: '⇧' expected after '"'
Skipping line 117509: '⇧' expected after '"'
Skipping line 119136: '⇧' expected after '"'
Skipping line 119140: '⇧' expected after '"'
Skipping line 119271: '⇧' expected after '"'
Skipping line 119279: '⇧' expected after '"'
Skipping line 119619: '⇧' expected after '"'
Skipping line 119898: '⇧' expected after '"'
Skipping line 120445: '⇧' expected after '"'
Skipping line 120674: '⇧' expected after '"'
Skipping line 121048: '⇧' expected after '"'
Skipping line 121053: '⇧' expected after '"'
Skipping line 121196: '⇧' expected after '"'
Skipping line 121199: '⇧' expected after '"'
Skipping line 121259: '⇧' expected after '"'
Skipping line 121395: '⇧' expected after '"'
Skipping line 121402: '⇧' expected after '"'
Skipping line 123489: '⇧' expected after '"'
Skipping line 123783: '⇧' expected after '"'
Skipping line 3503: '⇧' expected after '"'
Skipping line 3676: '⇧' expected after '"'
Skipping line 4409: '⇧' expected after '"'
Skipping line 4653: '⇧' expected after '"'
Skipping line 4743: '⇧' expected after '"'
Skipping line 7950: '⇧' expected after '"'
Skipping line 8212: '⇧' expected after '"'
Skipping line 8682: '⇧' expected after '"'
Skipping line 9523: '⇧' expected after '"'
Skipping line 11093: '⇧' expected after '"'
Skipping line 13300: field larger than field limit (131072)
Skipping line 13626: '⇧' expected after '"'
Skipping line 13709: '⇧' expected after '"'
Skipping line 13885: '⇧' expected after '"'
Skipping line 14449: '⇧' expected after '"'
Skipping line 14595: '⇧' expected after '"'
Skipping line 14638: '⇧' expected after '"'
Skipping line 15422: '⇧' expected after '"'
Skipping line 15659: '⇧' expected after '"'
Skipping line 16251: '⇧' expected after '"'
Skipping line 16334: '⇧' expected after '"'
Skipping line 17412: '⇧' expected after '"'
Skipping line 18495: '⇧' expected after '"'
Skipping line 20280: '⇧' expected after '"'
Skipping line 20326: '⇧' expected after '"'
Skipping line 20673: '⇧' expected after '"'
Skipping line 20753: '⇧' expected after '"'
Skipping line 22269: '⇧' expected after '"'
Skipping line 23121: '⇧' expected after '"'
Skipping line 23592: '⇧' expected after '"'
Skipping line 24268: '⇧' expected after '"'
Skipping line 24516: '⇧' expected after '"'
Skipping line 24754: '⇧' expected after '"'
Skipping line 25044: '⇧' expected after '"'
Skipping line 25643: '⇧' expected after '"'
Skipping line 27945: '⇧' expected after '"'
Skipping line 27950: '⇧' expected after '"'
Skipping line 28207: '⇧' expected after '"'
Skipping line 29248: '⇧' expected after '"'
Skipping line 29373: field larger than field limit (131072)
Skipping line 32891: '⇧' expected after '"'
Skipping line 32998: '⇧' expected after '"'
Skipping line 33532: '⇧' expected after '"'
Skipping line 34690: '⇧' expected after '"'
Skipping line 35461: '⇧' expected after '"'
Skipping line 35886: '⇧' expected after '"'
Skipping line 36072: '⇧' expected after '"'
Skipping line 36312: '⇧' expected after '"'
Skipping line 36976: '⇧' expected after '"'
Skipping line 37151: '⇧' expected after '"'
Skipping line 37992: '⇧' expected after '"'
Skipping line 40326: '⇧' expected after '"'
Skipping line 40329: '⇧' expected after '"'
Skipping line 43152: '⇧' expected after '"'
Skipping line 44872: '⇧' expected after '"'
Skipping line 46772: '⇧' expected after '"'
Skipping line 46965: '⇧' expected after '"'
Skipping line 47170: '⇧' expected after '"'
Skipping line 48313: '⇧' expected after '"'
Skipping line 49568: '⇧' expected after '"'
Skipping line 49613: '⇧' expected after '"'
Skipping line 49865: '⇧' expected after '"'
Skipping line 53016: '⇧' expected after '"'
Skipping line 53469: '⇧' expected after '"'
Skipping line 53972: '⇧' expected after '"'
Skipping line 54022: '⇧' expected after '"'
Skipping line 56856: '⇧' expected after '"'
Skipping line 57159: '⇧' expected after '"'
Skipping line 57318: '⇧' expected after '"'
Skipping line 57912: '⇧' expected after '"'
Skipping line 60123: '⇧' expected after '"'
Skipping line 61567: '⇧' expected after '"'
Skipping line 61665: '⇧' expected after '"'
Skipping line 64221: '⇧' expected after '"'
Skipping line 66456: '⇧' expected after '"'
Skipping line 67219: '⇧' expected after '"'
Skipping line 68386: '⇧' expected after '"'
Skipping line 68404: '⇧' expected after '"'
Skipping line 68519: '⇧' expected after '"'
Skipping line 69863: '⇧' expected after '"'
Skipping line 70020: '⇧' expected after '"'
Skipping line 71519: field larger than field limit (131072)
Skipping line 71522: '⇧' expected after '"'
Skipping line 71700: '⇧' expected after '"'
Skipping line 71709: '⇧' expected after '"'
Skipping line 71973: '⇧' expected after '"'
Skipping line 73514: '⇧' expected after '"'
Skipping line 73520: '⇧' expected after '"'
Skipping line 74486: '⇧' expected after '"'
Skipping line 77099: '⇧' expected after '"'
Skipping line 77299: '⇧' expected after '"'
Skipping line 79843: '⇧' expected after '"'
Skipping line 80155: '⇧' expected after '"'
Skipping line 80528: '⇧' expected after '"'
Skipping line 80981: '⇧' expected after '"'
Skipping line 81813: '⇧' expected after '"'
Skipping line 84968: '⇧' expected after '"'
Skipping line 85951: '⇧' expected after '"'
Skipping line 87572: '⇧' expected after '"'
Skipping line 87826: '⇧' expected after '"'
Skipping line 87827: '⇧' expected after '"'
Skipping line 87991: '⇧' expected after '"'
Skipping line 88399: '⇧' expected after '"'
Skipping line 88411: '⇧' expected after '"'
Skipping line 88717: '⇧' expected after '"'
Skipping line 90262: '⇧' expected after '"'
Skipping line 91390: '⇧' expected after '"'
Skipping line 91414: '⇧' expected after '"'
Skipping line 92652: '⇧' expected after '"'
Skipping line 92991: '⇧' expected after '"'
Skipping line 94212: '⇧' expected after '"'
Skipping line 94673: '⇧' expected after '"'
Skipping line 95964: '⇧' expected after '"'
Skipping line 96925: '⇧' expected after '"'
Skipping line 98295: '⇧' expected after '"'
Skipping line 98706: '⇧' expected after '"'
Skipping line 99497: '⇧' expected after '"'
Skipping line 99533: '⇧' expected after '"'
Skipping line 100017: '⇧' expected after '"'
Skipping line 100171: '⇧' expected after '"'
Skipping line 101011: '⇧' expected after '"'
Skipping line 103350: '⇧' expected after '"'
Skipping line 103990: '⇧' expected after '"'
Skipping line 104704: '⇧' expected after '"'
Skipping line 106466: '⇧' expected after '"'
Skipping line 106524: '⇧' expected after '"'
Skipping line 108424: '⇧' expected after '"'
Skipping line 108563: '⇧' expected after '"'
Skipping line 108616: '⇧' expected after '"'
Skipping line 108840: '⇧' expected after '"'
Skipping line 111004: '⇧' expected after '"'
Skipping line 112004: '⇧' expected after '"'
Skipping line 112605: '⇧' expected after '"'
Skipping line 112854: '⇧' expected after '"'
Skipping line 113979: '⇧' expected after '"'
Skipping line 115887: '⇧' expected after '"'
Skipping line 116671: '⇧' expected after '"'
Skipping line 117287: '⇧' expected after '"'
Skipping line 117545: '⇧' expected after '"'
Skipping line 117547: '⇧' expected after '"'
Skipping line 117548: '⇧' expected after '"'
Skipping line 117549: '⇧' expected after '"'
Skipping line 119256: '⇧' expected after '"'
Skipping line 119420: '⇧' expected after '"'
Skipping line 119524: '⇧' expected after '"'
Skipping line 119663: '⇧' expected after '"'
Skipping line 119666: '⇧' expected after '"'
Skipping line 119766: '⇧' expected after '"'
Skipping line 119846: '⇧' expected after '"'
Skipping line 122214: '⇧' expected after '"'
Skipping line 451: '⇧' expected after '"'
Skipping line 700: '⇧' expected after '"'
Skipping line 5796: '⇧' expected after '"'
Skipping line 7655: '⇧' expected after '"'
Skipping line 8715: '⇧' expected after '"'
Skipping line 9010: '⇧' expected after '"'
Skipping line 9039: '⇧' expected after '"'
Skipping line 10232: '⇧' expected after '"'
Skipping line 13642: '⇧' expected after '"'
Skipping line 14748: '⇧' expected after '"'
Skipping line 14842: '⇧' expected after '"'
Skipping line 17662: '⇧' expected after '"'
Skipping line 18503: '⇧' expected after '"'
Skipping line 20021: '⇧' expected after '"'
Skipping line 20028: '⇧' expected after '"'
Skipping line 21964: '⇧' expected after '"'
Skipping line 24836: '⇧' expected after '"'
Skipping line 25641: '⇧' expected after '"'
Skipping line 25990: '⇧' expected after '"'
Skipping line 26284: '⇧' expected after '"'
Skipping line 27825: '⇧' expected after '"'
Skipping line 28200: '⇧' expected after '"'
Skipping line 28869: '⇧' expected after '"'
Skipping line 33794: '⇧' expected after '"'
Skipping line 35796: '⇧' expected after '"'
Skipping line 39357: '⇧' expected after '"'
Skipping line 39358: '⇧' expected after '"'
Skipping line 39514: '⇧' expected after '"'
Skipping line 39695: '⇧' expected after '"'
Skipping line 41126: '⇧' expected after '"'
Skipping line 42137: '⇧' expected after '"'
Skipping line 42884: '⇧' expected after '"'
Skipping line 44723: '⇧' expected after '"'
Skipping line 45139: '⇧' expected after '"'
Skipping line 45143: '⇧' expected after '"'
Skipping line 45281: '⇧' expected after '"'
Skipping line 47252: '⇧' expected after '"'
Skipping line 47467: '⇧' expected after '"'
Skipping line 47808: '⇧' expected after '"'
Skipping line 47857: '⇧' expected after '"'
Skipping line 49901: '⇧' expected after '"'
Skipping line 49902: '⇧' expected after '"'
Skipping line 50465: '⇧' expected after '"'
Skipping line 50617: '⇧' expected after '"'
Skipping line 51469: '⇧' expected after '"'
Skipping line 52238: '⇧' expected after '"'
Skipping line 52317: '⇧' expected after '"'
Skipping line 56039: '⇧' expected after '"'
Skipping line 56241: '⇧' expected after '"'
Skipping line 56312: '⇧' expected after '"'
Skipping line 56653: '⇧' expected after '"'
Skipping line 57457: '⇧' expected after '"'
Skipping line 57669: '⇧' expected after '"'
Skipping line 57800: '⇧' expected after '"'
Skipping line 57844: '⇧' expected after '"'
Skipping line 58422: '⇧' expected after '"'
Skipping line 58883: '⇧' expected after '"'
Skipping line 61091: '⇧' expected after '"'
Skipping line 62082: '⇧' expected after '"'
Skipping line 62156: '⇧' expected after '"'
Skipping line 62374: '⇧' expected after '"'
Skipping line 64082: '⇧' expected after '"'
Skipping line 64110: '⇧' expected after '"'
Skipping line 64412: '⇧' expected after '"'
Skipping line 67366: '⇧' expected after '"'
Skipping line 67479: '⇧' expected after '"'
Skipping line 68945: '⇧' expected after '"'
Skipping line 69009: '⇧' expected after '"'
Skipping line 69158: '⇧' expected after '"'
Skipping line 73362: '⇧' expected after '"'
Skipping line 73549: '⇧' expected after '"'
Skipping line 74012: '⇧' expected after '"'
Skipping line 74092: '⇧' expected after '"'
Skipping line 75215: '⇧' expected after '"'
Skipping line 76339: '⇧' expected after '"'
Skipping line 78640: '⇧' expected after '"'
Skipping line 79578: '⇧' expected after '"'
Skipping line 81336: '⇧' expected after '"'
Skipping line 82233: '⇧' expected after '"'
Skipping line 83217: '⇧' expected after '"'
Skipping line 85541: '⇧' expected after '"'
Skipping line 86285: '⇧' expected after '"'
Skipping line 87116: '⇧' expected after '"'
Skipping line 87618: '⇧' expected after '"'
Skipping line 88273: '⇧' expected after '"'
Skipping line 88797: '⇧' expected after '"'
Skipping line 90227: '⇧' expected after '"'
Skipping line 90301: '⇧' expected after '"'
Skipping line 90363: '⇧' expected after '"'
Skipping line 91491: '⇧' expected after '"'
Skipping line 92961: '⇧' expected after '"'
Skipping line 93252: '⇧' expected after '"'
Skipping line 93612: '⇧' expected after '"'
Skipping line 94167: '⇧' expected after '"'
Skipping line 94468: '⇧' expected after '"'
Skipping line 95856: '⇧' expected after '"'
Skipping line 96518: '⇧' expected after '"'
Skipping line 96725: '⇧' expected after '"'
Skipping line 97605: '⇧' expected after '"'
Skipping line 101398: '⇧' expected after '"'
Skipping line 102012: '⇧' expected after '"'
Skipping line 103540: '⇧' expected after '"'
Skipping line 103796: '⇧' expected after '"'
Skipping line 104768: '⇧' expected after '"'
Skipping line 104770: '⇧' expected after '"'
Skipping line 104873: '⇧' expected after '"'
Skipping line 105780: '⇧' expected after '"'
Skipping line 106860: '⇧' expected after '"'
Skipping line 107675: '⇧' expected after '"'
Skipping line 109742: '⇧' expected after '"'
Skipping line 110649: '⇧' expected after '"'
Skipping line 110677: '⇧' expected after '"'
Skipping line 110901: '⇧' expected after '"'
Skipping line 110907: '⇧' expected after '"'
Skipping line 114331: '⇧' expected after '"'
Skipping line 114983: '⇧' expected after '"'
Skipping line 114984: '⇧' expected after '"'
Skipping line 116348: '⇧' expected after '"'
Skipping line 116931: '⇧' expected after '"'
Skipping line 118402: '⇧' expected after '"'
Skipping line 118685: '⇧' expected after '"'
Skipping line 118725: '⇧' expected after '"'
Skipping line 119170: '⇧' expected after '"'
Skipping line 120092: '⇧' expected after '"'
Skipping line 120244: '⇧' expected after '"'
Skipping line 120245: '⇧' expected after '"'
Skipping line 120898: '⇧' expected after '"'
Skipping line 121089: '⇧' expected after '"'
Skipping line 121090: '⇧' expected after '"'
Skipping line 121622: '⇧' expected after '"'
Skipping line 122240: '⇧' expected after '"'
Skipping line 122343: '⇧' expected after '"'
Skipping line 122438: '⇧' expected after '"'
Skipping line 122925: '⇧' expected after '"'
Skipping line 3144: '⇧' expected after '"'
Skipping line 3531: '⇧' expected after '"'
Skipping line 4337: '⇧' expected after '"'
Skipping line 4389: '⇧' expected after '"'
Skipping line 4414: '⇧' expected after '"'
Skipping line 4440: '⇧' expected after '"'
Skipping line 5529: '⇧' expected after '"'
Skipping line 6205: '⇧' expected after '"'
Skipping line 6275: '⇧' expected after '"'
Skipping line 7606: '⇧' expected after '"'
Skipping line 8454: '⇧' expected after '"'
Skipping line 9068: '⇧' expected after '"'
Skipping line 11119: '⇧' expected after '"'
Skipping line 12146: '⇧' expected after '"'
Skipping line 13288: '⇧' expected after '"'
Skipping line 13289: '⇧' expected after '"'
Skipping line 13292: '⇧' expected after '"'
Skipping line 13337: '⇧' expected after '"'
Skipping line 14810: '⇧' expected after '"'
Skipping line 15337: '⇧' expected after '"'
Skipping line 15895: '⇧' expected after '"'
Skipping line 16716: '⇧' expected after '"'
Skipping line 17666: '⇧' expected after '"'
Skipping line 18270: '⇧' expected after '"'
Skipping line 19265: '⇧' expected after '"'
Skipping line 20970: '⇧' expected after '"'
Skipping line 21158: '⇧' expected after '"'
Skipping line 21197: '⇧' expected after '"'
Skipping line 22301: '⇧' expected after '"'
Skipping line 23711: '⇧' expected after '"'
Skipping line 25504: '⇧' expected after '"'
Skipping line 25771: '⇧' expected after '"'
Skipping line 26044: '⇧' expected after '"'
Skipping line 26047: '⇧' expected after '"'
Skipping line 29460: '⇧' expected after '"'
Skipping line 30876: field larger than field limit (131072)
Skipping line 31577: '⇧' expected after '"'
Skipping line 32754: '⇧' expected after '"'
Skipping line 33228: '⇧' expected after '"'
Skipping line 33233: '⇧' expected after '"'
Skipping line 33531: '⇧' expected after '"'
Skipping line 34627: '⇧' expected after '"'
Skipping line 36213: '⇧' expected after '"'
Skipping line 36256: '⇧' expected after '"'
Skipping line 38225: '⇧' expected after '"'
Skipping line 39183: '⇧' expected after '"'

In [4]:
df_data_filter = df_data[~df_data["column_data"].isna()]
df_data_filter

,table_id,column_id,column_data
0,dataset/Dataset/data/1000006/table_0,0,Театр им. Евгения Вахтангова (Москва) Театр им...
1,dataset/Dataset/data/1000020/table_0,0,1963 1965 1968 1969 1970 1970 1971 1971 1971 1...
2,dataset/Dataset/data/1000050/table_0,0,"1984, 1987, 1991 1984, 1985, 1987 1991"
3,dataset/Dataset/data/1000078/table_1,2,Оранжевая корова
4,dataset/Dataset/data/1000190/table_0,0,2003
...,...,...,...
125170,dataset/Dataset/data/999585/table_2,1,«Дай мне силу» «Настройся на меня» «В комнате ...
125171,dataset/Dataset/data/999639/table_2,1,Победитель Второе место Третье место Финиширов...
125172,dataset/Dataset/data/999851/table_0,1,14 августа 1903 30 августа 1900 11 мая 1900 22...
125173,dataset/Dataset/data/999913/table_1,0,28-4-1 28-3-1 28-2-1 28-2 28-1 27-1 26-1 25-1 ...
125174,dataset/Dataset/data/999987/table_0,6,7½ из 9 Нокаут-система 6½ из 9 8 из 11 6½ из 1...

## Очистка мета-информации

- Очищена мета-информация .mv-parser...
- Очищены ссылки типа ***some-text[1]***.

### .mw-parser

In [5]:
mv_parser = df_data_filter["column_data"].str.contains(".mw-parser")
df_data_filter[mv_parser]

,table_id,column_id,column_data
20,dataset/Dataset/data/1000933/table_1,5,22 февраля 1993.mw-parser-output .ts-comment-c...
667,dataset/Dataset/data/104134/table_0,3,Текст Текст Текст Текст Текст Текст https://ru...
3387,dataset/Dataset/data/1058096/table_0,0,1985 1986 1989 1989 1989 1990 1990 1991 1991 1...
4204,dataset/Dataset/data/1106461/table_0,0,19.06.2001 03.08.2003 27.01.2005 14.10.2005 24...
4553,dataset/Dataset/data/1136426/table_1,1,A Б A Б A Б В A Б В A Б В A Б В A Б В A Б В А ...
...,...,...,...
120428,dataset/Dataset/data/8779389/table_3,5,(.mw-parser-output .ts-comment-commentedText{b...
122243,dataset/Dataset/data/8894249/table_0,3,"116 238 530 2.06,0 4.19,1 16.38,4 34.11,6 .mw-..."
123461,dataset/Dataset/data/8977689/table_3,4,.mw-parser-output .ts-comment-commentedText{bo...
123548,dataset/Dataset/data/8982369/table_0,4,.mw-parser-output .ts-comment-commentedText{bo...
124913,dataset/Dataset/data/985790/table_1,5,22 февраля 1993.mw-parser-output .ts-comment-c...

In [6]:
df_data_filter.loc[:, "column_data"] = df_data_filter["column_data"].progress_apply(
    lambda x: re.sub(r"\.mw-parser-output \.ts.+{.+}", " ", x)
)
df_data_filter["column_data"].str.contains("mw-parser").sum()

100%|████████████████████████████| 1448585/1448585 [00:01<00:00, 1103682.01it/s]

0

In [7]:
# def clean_mv_parser(col_name: str) -> str:
#     if col_name.strip().startswith(".mw-parser"):
#         return col_name.split("}")[-1]
#     return col_name

# df_data_filter.loc[:, "column_data"] = df_data_filter["column_data"].progress_apply(lambda x: clean_mv_parser(str(x)))
# df_data_filter

In [8]:
df_data_filter[mv_parser]

,table_id,column_id,column_data
20,dataset/Dataset/data/1000933/table_1,5,22 февраля 1993 28 ноября 1997[13]1 декабря 19...
667,dataset/Dataset/data/104134/table_0,3,Текст Текст Текст Текст Текст Текст https://ru...
3387,dataset/Dataset/data/1058096/table_0,0,1985 1986 1989 1989 1989 1990 1990 1991 1991 1...
4204,dataset/Dataset/data/1106461/table_0,0,19.06.2001 03.08.2003 27.01.2005 14.10.2005 24...
4553,dataset/Dataset/data/1136426/table_1,1,A Б A Б A Б В A Б В A Б В A Б В A Б В A Б В А ...
...,...,...,...
120428,dataset/Dataset/data/8779389/table_3,5,( с/в) ЕР ЕР ЕР ЕР ГП ЕР ЕР ЕР ЕР ЕР ЕР ЕР ЕР ...
122243,dataset/Dataset/data/8894249/table_0,3,"116 238 530 2.06,0 4.19,1 16.38,4 34.11,6 NR*..."
123461,dataset/Dataset/data/8977689/table_3,4,Q Q Q Q Q Q q q PB NR
123548,dataset/Dataset/data/8982369/table_0,4,DNF DNF 111 120 137
124913,dataset/Dataset/data/985790/table_1,5,22 февраля 1993 28 ноября 1997[13]1 декабря 19...

### Ссылки википедии

In [9]:
import re

df_data_filter.loc[:, "column_data"] = df_data_filter["column_data"].progress_apply(lambda x: re.sub(r"\[[0-9]*\]", "", x))
df_data_filter

100%|████████████████████████████| 1448585/1448585 [00:01<00:00, 1061474.52it/s]

,table_id,column_id,column_data
0,dataset/Dataset/data/1000006/table_0,0,Театр им. Евгения Вахтангова (Москва) Театр им...
1,dataset/Dataset/data/1000020/table_0,0,1963 1965 1968 1969 1970 1970 1971 1971 1971 1...
2,dataset/Dataset/data/1000050/table_0,0,"1984, 1987, 1991 1984, 1985, 1987 1991"
3,dataset/Dataset/data/1000078/table_1,2,Оранжевая корова
4,dataset/Dataset/data/1000190/table_0,0,2003
...,...,...,...
125170,dataset/Dataset/data/999585/table_2,1,«Дай мне силу» «Настройся на меня» «В комнате ...
125171,dataset/Dataset/data/999639/table_2,1,Победитель Второе место Третье место Финиширов...
125172,dataset/Dataset/data/999851/table_0,1,14 августа 1903 30 августа 1900 11 мая 1900 22...
125173,dataset/Dataset/data/999913/table_1,0,28-4-1 28-3-1 28-2-1 28-2 28-1 27-1 26-1 25-1 ...
125174,dataset/Dataset/data/999987/table_0,6,7½ из 9 Нокаут-система 6½ из 9 8 из 11 6½ из 1...

In [10]:
empty_column_data_mask = df_data_filter["column_data"].apply(lambda x: str(x).replace(";", "").strip()) == ""

In [11]:
df_data_filter = df_data_filter[~empty_column_data_mask]

## JOIN заголовков с содержимым столбца

создание композитного ключа и merge(inner) двух датафреймов

### ColumnData dataframe

In [12]:
df_data_filter.loc[:, "composite_key"] = df_data_filter["table_id"] + " / " + df_data_filter["column_id"].astype(str)
df_data_filter

/tmp/ipykernel_4018/3755119166.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_filter.loc[:, "composite_key"] = df_data_filter["table_id"] + " / " + df_data_filter["column_id"].astype(str)

,table_id,column_id,column_data,composite_key
0,dataset/Dataset/data/1000006/table_0,0,Театр им. Евгения Вахтангова (Москва) Театр им...,dataset/Dataset/data/1000006/table_0 / 0
1,dataset/Dataset/data/1000020/table_0,0,1963 1965 1968 1969 1970 1970 1971 1971 1971 1...,dataset/Dataset/data/1000020/table_0 / 0
2,dataset/Dataset/data/1000050/table_0,0,"1984, 1987, 1991 1984, 1985, 1987 1991",dataset/Dataset/data/1000050/table_0 / 0
3,dataset/Dataset/data/1000078/table_1,2,Оранжевая корова,dataset/Dataset/data/1000078/table_1 / 2
4,dataset/Dataset/data/1000190/table_0,0,2003,dataset/Dataset/data/1000190/table_0 / 0
...,...,...,...,...
125170,dataset/Dataset/data/999585/table_2,1,«Дай мне силу» «Настройся на меня» «В комнате ...,dataset/Dataset/data/999585/table_2 / 1
125171,dataset/Dataset/data/999639/table_2,1,Победитель Второе место Третье место Финиширов...,dataset/Dataset/data/999639/table_2 / 1
125172,dataset/Dataset/data/999851/table_0,1,14 августа 1903 30 августа 1900 11 мая 1900 22...,dataset/Dataset/data/999851/table_0 / 1
125173,dataset/Dataset/data/999913/table_1,0,28-4-1 28-3-1 28-2-1 28-2 28-1 27-1 26-1 25-1 ...,dataset/Dataset/data/999913/table_1 / 0
125174,dataset/Dataset/data/999987/table_0,6,7½ из 9 Нокаут-система 6½ из 9 8 из 11 6½ из 1...,dataset/Dataset/data/999987/table_0 / 6

### Threshold dataframe

In [13]:
threshold = 0.78
df_threshold = pd.read_csv(f"../labelling/labelled/threshold_{threshold}.csv", sep=";")
df_threshold

,table_id,column_id,column_name_lemma,label,similarity
0,dataset/Dataset/data/1000006/table_0,0,театр,театр,1.000000
1,dataset/Dataset/data/1000006/table_0,1,спектакль,пьеса,0.789814
2,dataset/Dataset/data/1000006/table_0,4,примечание,примечание,1.000000
3,dataset/Dataset/data/1000006/table_1,2,название,название,1.000000
4,dataset/Dataset/data/1000006/table_1,0,год,год,1.000000
...,...,...,...,...,...
1504998,dataset/Dataset/data/999987/table_0,6,результат,результат,1.000000
1504999,dataset/Dataset/data/999987/table_0,2,турнир,турнир,1.000000
1505000,dataset/Dataset/data/999987/table_0,0,год,год,1.000000
1505001,dataset/Dataset/data/999987/table_0,7,место,место,1.000000
1505002,dataset/Dataset/data/999987/table_0,1,город,город,1.000000

In [14]:
df_threshold.drop(["column_name_lemma", "similarity"], axis=1, inplace=True)
df_threshold

                                     table_id  column_id       label
0        dataset/Dataset/data/1000006/table_0          0       театр
1        dataset/Dataset/data/1000006/table_0          1       пьеса
2        dataset/Dataset/data/1000006/table_0          4  примечание
3        dataset/Dataset/data/1000006/table_1          2    название
4        dataset/Dataset/data/1000006/table_1          0         год
...                                       ...        ...         ...
1504998   dataset/Dataset/data/999987/table_0          6   результат
1504999   dataset/Dataset/data/999987/table_0          2      турнир
1505000   dataset/Dataset/data/999987/table_0          0         год
1505001   dataset/Dataset/data/999987/table_0          7       место
1505002   dataset/Dataset/data/999987/table_0          1       город

[1505003 rows x 3 columns]

In [15]:
df_threshold.loc[:, "composite_key"] = df_threshold["table_id"] + " / " + df_threshold["column_id"].astype(str)
df_threshold

,table_id,column_id,label,composite_key
0,dataset/Dataset/data/1000006/table_0,0,театр,dataset/Dataset/data/1000006/table_0 / 0
1,dataset/Dataset/data/1000006/table_0,1,пьеса,dataset/Dataset/data/1000006/table_0 / 1
2,dataset/Dataset/data/1000006/table_0,4,примечание,dataset/Dataset/data/1000006/table_0 / 4
3,dataset/Dataset/data/1000006/table_1,2,название,dataset/Dataset/data/1000006/table_1 / 2
4,dataset/Dataset/data/1000006/table_1,0,год,dataset/Dataset/data/1000006/table_1 / 0
...,...,...,...,...
1504998,dataset/Dataset/data/999987/table_0,6,результат,dataset/Dataset/data/999987/table_0 / 6
1504999,dataset/Dataset/data/999987/table_0,2,турнир,dataset/Dataset/data/999987/table_0 / 2
1505000,dataset/Dataset/data/999987/table_0,0,год,dataset/Dataset/data/999987/table_0 / 0
1505001,dataset/Dataset/data/999987/table_0,7,место,dataset/Dataset/data/999987/table_0 / 7
1505002,dataset/Dataset/data/999987/table_0,1,город,dataset/Dataset/data/999987/table_0 / 1

### Join dataframes

In [16]:
df_joined = df_threshold.merge(df_data_filter[["composite_key", "column_data"]], how="inner", on="composite_key")
df_joined.drop(["composite_key"], axis=1, inplace=True)
df_joined

,table_id,column_id,label,column_data
0,dataset/Dataset/data/1000006/table_0,0,театр,Театр им. Евгения Вахтангова (Москва) Театр им...
1,dataset/Dataset/data/1000006/table_0,1,пьеса,Дневник Анны ФранкФрэнсис Гудрич и Альберт Хак...
2,dataset/Dataset/data/1000006/table_0,4,примечание,видеофрагмент видеофрагмент телеспектакль виде...
3,dataset/Dataset/data/1000006/table_1,2,название,"Кулагин и партнёры Люба, дети и завод… Врачебн..."
4,dataset/Dataset/data/1000006/table_1,0,год,2004—2013 2006 2006 2006 2008 2007 2007 2008 2...
...,...,...,...,...
1441344,dataset/Dataset/data/999987/table_0,6,результат,7½ из 9 Нокаут-система 6½ из 9 8 из 11 6½ из 1...
1441345,dataset/Dataset/data/999987/table_0,2,турнир,71-й чемпионат Украины 73-й чемпионат Украины ...
1441346,dataset/Dataset/data/999987/table_0,0,год,2002 2004 2010 2012 2012 2013 2014 2016 2018
1441347,dataset/Dataset/data/999987/table_0,7,место,1 2 2 1 1 3 3 2 1
1441348,dataset/Dataset/data/999987/table_0,1,город,Алушта Харьков Москва Киев Нью-Дели Киев Львов...

### Create label_id

In [17]:
labels = list(df_joined["label"].unique())
labels.sort()

sem_types = {v: i for i, v in enumerate(labels)}
sem_types

{'авиакомпания': 0,
 'автомобиль': 1,
 'адрес': 2,
 'актер': 3,
 'альбом': 4,
 'аннотация': 5,
 'арена': 6,
 'атлет': 7,
 'аэропорт': 8,
 'база': 9,
 'банк': 10,
 'боксер': 11,
 'борец': 12,
 'ввп': 13,
 'ведущий': 14,
 'вес': 15,
 'вещество': 16,
 'владелец': 17,
 'возраст': 18,
 'высота': 19,
 'гимнаст': 20,
 'глубина': 21,
 'год': 22,
 'гонка': 23,
 'город': 24,
 'группа': 25,
 'дата': 26,
 'двигатель': 27,
 'день': 28,
 'директор': 29,
 'документ': 30,
 'дорога': 31,
 'жанр': 32,
 'животное': 33,
 'журнал': 34,
 'закон': 35,
 'звук': 36,
 'здание': 37,
 'игра': 38,
 'идентификатор': 39,
 'идеология': 40,
 'издатель': 41,
 'изображение': 42,
 'инструмент': 43,
 'камера': 44,
 'канал': 45,
 'категория': 46,
 'класс': 47,
 'классификация': 48,
 'клуб': 49,
 'книга': 50,
 'код': 51,
 'количество': 52,
 'колледж': 53,
 'команда': 54,
 'компания': 55,
 'компонент': 56,
 'континент': 57,
 'конькобежец': 58,
 'корабль': 59,
 'кратер': 60,
 'лейбл': 61,
 'лес': 62,
 'лига': 63,
 'локомотив': 64,
 'марка': 65,
 'место': 66,
 'местонахождение': 67,
 'модель': 68,
 'мотоцикл': 69,
 'музей': 70,
 'муниципалитет': 71,
 'награда': 72,
 'название': 73,
 'население': 74,
 'национальность': 75,
 'область': 76,
 'образование': 77,
 'опера': 78,
 'оператор': 79,
 'описание': 80,
 'организация': 81,
 'остров': 82,
 'отель': 83,
 'отношение': 84,
 'партия': 85,
 'партнер': 86,
 'период': 87,
 'персона': 88,
 'персонаж': 89,
 'песня': 90,
 'пилот': 91,
 'площадь': 92,
 'поезд': 93,
 'позиция': 94,
 'пол': 95,
 'порт': 96,
 'порядок': 97,
 'правительство': 98,
 'премия': 99,
 'префектура': 100,
 'примечание': 101,
 'провинция': 102,
 'программа': 103,
 'продолжительность': 104,
 'продукт': 105,
 'продюсер': 106,
 'проект': 107,
 'производитель': 108,
 'происхождение': 109,
 'пьеса': 110,
 'работа': 111,
 'работодатель': 112,
 'размер': 113,
 'район': 114,
 'ракета': 115,
 'ранг': 116,
 'расстояние': 117,
 'результат': 118,
 'река': 119,
 'религия': 120,
 'роман': 121,
 'сайт': 122,
 'самолет': 123,
 'символ': 124,
 'сингл': 125,
 'служба': 126,
 'событие': 127,
 'создатель': 128,
 'сообщество': 129,
 'состояние': 130,
 'спорт': 131,
 'спортсмен': 132,
 'ссылка': 133,
 'стадион': 134,
 'стандарт': 135,
 'станция': 136,
 'статистика': 137,
 'статус': 138,
 'статья': 139,
 'столица': 140,
 'страна': 141,
 'структура': 142,
 'судья': 143,
 'сценарист': 144,
 'театр': 145,
 'теннисист': 146,
 'территория': 147,
 'техника': 148,
 'тип': 149,
 'транспорт': 150,
 'требование': 151,
 'трек': 152,
 'тренер': 153,
 'турнир': 154,
 'улица': 155,
 'университет': 156,
 'устройство': 157,
 'фигурист': 158,
 'фильм': 159,
 'фирма': 160,
 'флаг': 161,
 'формат': 162,
 'футболист': 163,
 'художник': 164,
 'цвет': 165,
 'цитата': 166,
 'шахматист': 167,
 'элемент': 168,
 'язык': 169}

In [18]:
df_joined["label_id"] = df_joined["label"].progress_apply(lambda x: sem_types[x])
df_joined

100%|████████████████████████████| 1441349/1441349 [00:00<00:00, 2329413.08it/s]

,table_id,column_id,label,column_data,label_id
0,dataset/Dataset/data/1000006/table_0,0,театр,Театр им. Евгения Вахтангова (Москва) Театр им...,145
1,dataset/Dataset/data/1000006/table_0,1,пьеса,Дневник Анны ФранкФрэнсис Гудрич и Альберт Хак...,110
2,dataset/Dataset/data/1000006/table_0,4,примечание,видеофрагмент видеофрагмент телеспектакль виде...,101
3,dataset/Dataset/data/1000006/table_1,2,название,"Кулагин и партнёры Люба, дети и завод… Врачебн...",73
4,dataset/Dataset/data/1000006/table_1,0,год,2004—2013 2006 2006 2006 2008 2007 2007 2008 2...,22
...,...,...,...,...,...
1441344,dataset/Dataset/data/999987/table_0,6,результат,7½ из 9 Нокаут-система 6½ из 9 8 из 11 6½ из 1...,118
1441345,dataset/Dataset/data/999987/table_0,2,турнир,71-й чемпионат Украины 73-й чемпионат Украины ...,154
1441346,dataset/Dataset/data/999987/table_0,0,год,2002 2004 2010 2012 2012 2013 2014 2016 2018,22
1441347,dataset/Dataset/data/999987/table_0,7,место,1 2 2 1 1 3 3 2 1,66
1441348,dataset/Dataset/data/999987/table_0,1,город,Алушта Харьков Москва Киев Нью-Дели Киев Львов...,24

### Reorder columns

In [19]:
df_joined = df_joined[["table_id", "column_id", "label_id", "label", "column_data"]]
df_joined

,table_id,column_id,label_id,label,column_data
0,dataset/Dataset/data/1000006/table_0,0,145,театр,Театр им. Евгения Вахтангова (Москва) Театр им...
1,dataset/Dataset/data/1000006/table_0,1,110,пьеса,Дневник Анны ФранкФрэнсис Гудрич и Альберт Хак...
2,dataset/Dataset/data/1000006/table_0,4,101,примечание,видеофрагмент видеофрагмент телеспектакль виде...
3,dataset/Dataset/data/1000006/table_1,2,73,название,"Кулагин и партнёры Люба, дети и завод… Врачебн..."
4,dataset/Dataset/data/1000006/table_1,0,22,год,2004—2013 2006 2006 2006 2008 2007 2007 2008 2...
...,...,...,...,...,...
1441344,dataset/Dataset/data/999987/table_0,6,118,результат,7½ из 9 Нокаут-система 6½ из 9 8 из 11 6½ из 1...
1441345,dataset/Dataset/data/999987/table_0,2,154,турнир,71-й чемпионат Украины 73-й чемпионат Украины ...
1441346,dataset/Dataset/data/999987/table_0,0,22,год,2002 2004 2010 2012 2012 2013 2014 2016 2018
1441347,dataset/Dataset/data/999987/table_0,7,66,место,1 2 2 1 1 3 3 2 1
1441348,dataset/Dataset/data/999987/table_0,1,24,город,Алушта Харьков Москва Киев Нью-Дели Киев Львов...

In [20]:
df_joined[df_joined["table_id"] == "dataset/Dataset/data/1367439/table_0"]

,table_id,column_id,label_id,label,column_data
91674,dataset/Dataset/data/1367439/table_0,1,95,пол,неизвестен

In [21]:
column_data_na = df_joined["column_data"].isna().sum()
column_data_na
# df_joined = df_joined[~column_data_na]

0

In [22]:
df_joined

,table_id,column_id,label_id,label,column_data
0,dataset/Dataset/data/1000006/table_0,0,145,театр,Театр им. Евгения Вахтангова (Москва) Театр им...
1,dataset/Dataset/data/1000006/table_0,1,110,пьеса,Дневник Анны ФранкФрэнсис Гудрич и Альберт Хак...
2,dataset/Dataset/data/1000006/table_0,4,101,примечание,видеофрагмент видеофрагмент телеспектакль виде...
3,dataset/Dataset/data/1000006/table_1,2,73,название,"Кулагин и партнёры Люба, дети и завод… Врачебн..."
4,dataset/Dataset/data/1000006/table_1,0,22,год,2004—2013 2006 2006 2006 2008 2007 2007 2008 2...
...,...,...,...,...,...
1441344,dataset/Dataset/data/999987/table_0,6,118,результат,7½ из 9 Нокаут-система 6½ из 9 8 из 11 6½ из 1...
1441345,dataset/Dataset/data/999987/table_0,2,154,турнир,71-й чемпионат Украины 73-й чемпионат Украины ...
1441346,dataset/Dataset/data/999987/table_0,0,22,год,2002 2004 2010 2012 2012 2013 2014 2016 2018
1441347,dataset/Dataset/data/999987/table_0,7,66,место,1 2 2 1 1 3 3 2 1
1441348,dataset/Dataset/data/999987/table_0,1,24,город,Алушта Харьков Москва Киев Нью-Дели Киев Львов...

### Remove stupid .mw-parser ._.

In [23]:
# df_joined.loc[:, "column_data"] = df_joined["column_data"].progress_apply(lambda x: re.sub(r"\.mw-parser-output \.ts.+{.+}", "", x))
df_joined["column_data"].str.contains("mw-parser").sum()

0

In [24]:
df_joined[df_joined["table_id"] == "dataset/Dataset/data/1012855/table_1"]

,table_id,column_id,label_id,label,column_data
2300,dataset/Dataset/data/1012855/table_1,4,106,продюсер,Роберт Латман Браун
2301,dataset/Dataset/data/1012855/table_1,7,51,код,0
2302,dataset/Dataset/data/1012855/table_1,1,73,название,«Вавилон-5: Сборы» «Babylon 5: The Gathering»
2303,dataset/Dataset/data/1012855/table_1,2,3,актер,Ричард Комптон
2304,dataset/Dataset/data/1012855/table_1,3,144,сценарист,Дж. Майкл Стражински

In [42]:
test_df = df_joined.sample(frac=0.05, random_state=13)
print(test_df["label"].unique().shape)
test_df

(170,)

,table_id,column_id,label_id,label,column_data
727059,dataset/Dataset/data/5340234/table_0,0,49,клуб,Алмалык Андижан Бунёдкор Бухара Динамо Коканд ...
245525,dataset/Dataset/data/2377813/table_3,0,22,год,2005 2005 2005 2005 2005 2006 2006 2007 2007 2...
1392140,dataset/Dataset/data/881108/table_3,2,72,награда,Лауреат XI Всесоюзного кинофестиваля в Ереване...
2405,dataset/Dataset/data/1013249/table_2,4,144,сценарист,Дж. Майкл Стражински Дж. Майкл Стражински Ларр...
1034684,dataset/Dataset/data/6867415/table_3,0,87,период,04.1945 — 07.1945 07.1945 — 1947 1947 — 1977 1...
...,...,...,...,...,...
344299,dataset/Dataset/data/3058088/table_0,2,73,название,Поступление Тусовщики Экстази Целуя Джессику С...
1252781,dataset/Dataset/data/7996420/table_5,2,73,название,«Сад смерти»(англ. «Garden of death») Семейств...
1387478,dataset/Dataset/data/8783283/table_2,3,66,место,6.0
244597,dataset/Dataset/data/2366647/table_12,1,25,группа,"«Heart of Glass» Blondie Джейми, Илиза, и Касс..."
1115007,dataset/Dataset/data/7264626/table_0,1,24,город,Дакка Читтагонг Барисал Силхет Раджшахи Майман...

In [44]:
train_df = df_joined.drop(test_df.index)
print(train_df["label"].unique().shape)
train_df

(170,)

,table_id,column_id,label_id,label,column_data
0,dataset/Dataset/data/1000006/table_0,0,145,театр,Театр им. Евгения Вахтангова (Москва) Театр им...
1,dataset/Dataset/data/1000006/table_0,1,110,пьеса,Дневник Анны ФранкФрэнсис Гудрич и Альберт Хак...
2,dataset/Dataset/data/1000006/table_0,4,101,примечание,видеофрагмент видеофрагмент телеспектакль виде...
3,dataset/Dataset/data/1000006/table_1,2,73,название,"Кулагин и партнёры Люба, дети и завод… Врачебн..."
4,dataset/Dataset/data/1000006/table_1,0,22,год,2004—2013 2006 2006 2006 2008 2007 2007 2008 2...
...,...,...,...,...,...
1441343,dataset/Dataset/data/999985/table_0,7,66,место,1 2 2 1 1 3 3 2 1
1441344,dataset/Dataset/data/999987/table_0,6,118,результат,7½ из 9 Нокаут-система 6½ из 9 8 из 11 6½ из 1...
1441346,dataset/Dataset/data/999987/table_0,0,22,год,2002 2004 2010 2012 2012 2013 2014 2016 2018
1441347,dataset/Dataset/data/999987/table_0,7,66,место,1 2 2 1 1 3 3 2 1
1441348,dataset/Dataset/data/999987/table_0,1,24,город,Алушта Харьков Москва Киев Нью-Дели Киев Львов...

In [25]:
# tokenizer will take care of it
# df_joined.loc[:, "column_data"] = df_joined["column_data"].progress_apply(lambda x: str(x).lower())

### Save dataset

In [46]:
test_df.to_csv("./test/data.csv", sep="|", index=False)

In [48]:
import numpy as np

number_of_chunks = 21
for id, chunk in enumerate(np.array_split(train_df, number_of_chunks)):
    chunk.to_csv(f"./train/data_{id}.csv", sep="|", index=False)